<html>
    <head>
        <meta charset="utf-8">
        <title>Angular.js example</title>        
         <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    </head>
    <body> 
    Name:<input ng-model="name" type="text" />
    Hello {{name}}
    </body>   
</html>
    